@use "../modules/mixins";

.card {
  cursor: pointer;
  margin: 1em -2em;
  padding: 2em;

  h3 {
    margin-top: 0;
    padding-top: 0;
  }

  @include mixins.set-style("background", "bg2");

  &:hover {
    @include mixins.set-style("background", "bg1");
  }
}