.dragon-bg {
  aspect-ratio: 1;
  height: auto;
  margin-top: -50%;
  margin-left: -100%;
  margin-right: -100%;
  left: 50%;
  position: absolute;
  top: 0;
  width: 200%;
  z-index: -1;

  @media (min-width: 50rem) {
    margin-top: -40%;
    left: 75%;
    right: auto;
    width: 150%;
  }

  @media (min-width: 60rem) {
    margin-top: -20%;
    left: 0;
    margin-left: 0;
    width: 100%;
  }

  @media (min-width: 70rem) {
    left: 5%;
    width: 90%;
  }

  @media (min-width: 80rem) {
    left: 10%;
    width: 80%;
  }

  img {
    height: auto;
    width: 100%;
  }
}