.dragon-bg {
  aspect-ratio: 1;
  display: block;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  img {
    height: 150%;
    left: -23%;
    position: relative;
    top: -50%;
    width: 150%;

    @media (min-width: 50rem) {
      height: 100%;
      left: 0;
      top: -25%;
      width: 100%;
    }

    @media (min-width: 60rem) {
      top: -20%;
    }

    @media (min-width: 70rem) {
      top: -15%;
    }

    @media (min-width: 80rem) {
      top: -10%;
    }
  }
}