---
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout title="Contributing to the Ruins & Revolutions Catalogue">
  <h1>Contributing to the Catalogue</h1>
  <p>Everything in the Catalogue is open source, licensed under a
    <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons
    Attribution-ShareAlike 4.0 International License</a> (CC BY-SA 4.0). That
    means you&rsquro;re free to use anything in the Catalogue however you like
    (even selling it), so long as you provide proper attribution for where you
    got it from and who actually made it, and you release your own work under
    the same terms. By contributing your work to the Catalogue, you have a
    place to post it and share it with the world, but you agree to release
    it under the same license.</p>
  <p>You&rsquo;ll need an account to contribute. Besides keeping your
    contributions under the heading of a single creator and helping people who
    like one example of your work to find others, this also helps with the
    attribution requirement.</p>
  <p>You can <a href="/register">register</a> to create an account. Or, if you
    already have an account, you can <a href="/login">log in</a> to make a new
    contribution or manage your existing contributions.</p>
</BaseLayout>
