---
import Layout from '../../layouts/Layout.astro'
import Navigation from '../../components/Navigation.astro'
---
<Layout title="The Catalogue">
  <Navigation section="catalogue" />
  <h1>The Catalogue</h1>
  <p>The Catalogue is a collection of open source,
    <a href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1">Creative
    Commons licensed</a> game elements for <em>Ruins &amp;
    Revolutions</em>. It&rsquo;s a repository of atomic game
    design concepts created by designers and game masters just
    like you, building on and borrowing from each other to
    create the best tabletop roleplaying experiences we&rsquo;ve
    ever had.</p>
  <section id="contributing">
    <h3>Contributing to the Catalogue</h3>
    <p>If you&rsquo;d like to contribute your own creations to
      the Catalogue, the first step is creating an account. You
      can authenticate with <a href="/catalogue/login/google">Google</a>,
      <a href="/catalogue/login/github">GitHub</a>, or
      <a href="/catalogue/login/discord">Discord</a>.</p>
  </section>
</Layout>
