---
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout title="Ruins & Revolutions Catalogue">
  <h1>The Catalogue</h1>
  <nav class="catalogue-menu">
    <ul>
      <li><a href="/catalogue/tables">Random Tables</a></li>
      <li><a href="/catalogue/scrolls">Scrolls</a></li>
      <li><a href="/catalogue/scales">Scales</a></li>
      <li><a href="/catalogue/worlds">Worlds</a></li>
      <li><a href="/catalogue/species">Species</a></li>
      <li><a href="/catalogue/societies">Societies</a></li>
      <li><a href="/catalogue/characters">Characters</a></li>
      <li><a href="/catalogues/campaigns">Campaigns</a></li>
    </ul>
    <hr />
    <ul>
      <li><a href="/catalogue/contribute">Contributing</a></li>
      <li><a href="/catalogue/rolls">Rolls</a></li>
    </ul>
  </nav>
</BaseLayout>
