$hue000-light: #80000000;
$hue051-light: #806c00;
$hue102-light: #268000;
$hue153-light: #008046;
$hue204-light: #004d80;
$hue255-light: #200080;
$hue306-light: #800073;

$hue000-dark: #ef8f8f00;
$hue051-dark: #efe18f;
$hue102-dark: #acef8f;
$hue153-dark: #8fefc4;
$hue204-dark: #8fc9ef;
$hue255-dark: #a78fef;
$hue306-dark: #ef8fe6;

$white: #eeeeee;
$black: #222222;

$light1: 80%;
$light2: 90%;

$dark1: 75%;
$dark2: 85%;
