@use "./mixins";

body {
  @include mixins.set-style("font-weight", "weights.normal");
  font-family: "Alegreya", serif;
  font-size: 1.1em;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 1em 0 0.5em;
}

h1 {
  @include mixins.set-style("font-weight", "weights.black");
  font-family: "Alegreya SC", serif;
  font-size: 3em;
}

h2 {
  @include mixins.set-style("font-weight", "weights.bold");
  font-family: "Alegreya", serif;
  font-size: 2em;
  font-style: italic;
}

h3 {
  @include mixins.set-style("font-weight", "weights.normal");
  font-family: "Alegreya SC", serif;
  font-size: 1.5em;
}
