.character-abilities {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  input {
    text-align: center;
  }

  span.full {
    font-size: 0;
  }

  @media (min-width: 30rem) {
    span.full {
      font-size: 1rem;
    }

    abbr {
      font-size: 0;
    }
  }

  @media (min-width: 45rem) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
