@use "../modules/mixins";
@use "../modules/placeholders";

.site-nav {
  font-family: 'Alegreya SC', serif;
  font-weight: 600;
  text-align: center;

  ul {
    @extend %unstyled-list;
    display: flex;
    justify-content: center;

    li {
      display: inline-block;
      padding: 0;
    }

    a {
      @include mixins.set-style("color", "fg");
      display: block;
      padding: 0.5rem 1.5rem;
      text-decoration: none;

      &:hover {
        @include mixins.set-style("background", "bg-subdued");
      }
    }
  }
}