@use "../modules/mixins";

fieldset.stages {
  border: 0;
  display: block;
  margin: 2rem 0;
  padding: 0;

  legend {
    font-family: 'Alegreya SC', serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.1;
    margin: 3rem 0 1rem;
  }

  legend + p {
    margin-top: 0;
  }

  fieldset {
    border: 0;
    display: grid;
    grid-gap: 0.5rem 2rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem 0;
    padding: 0;

    .stage-name,
    .stage-procedures {
      grid-column: 1 / 3;
    }

    .stage-min {
      grid-column: 1 / 2;
    }

    .stage-max {
      grid-column: 2 / 3;
    }

    label.stage-min,
    label.stage-max {
      grid-row: 3;
    }

    input.stage-min,
    input.stage-max {
      grid-row: 4;
    }

    & + fieldset {
      @include mixins.set-style("border-top-color", "fg-subdued");
      border-top-style: solid;
      border-top-width: 1px;
      padding-top: 2rem;
    }
  }
}

.stage-director {
  text-align: right;

  button {
    font-size: 75%;
  }

  button + button{
    margin-left: 0.5rem;
  }
}

.stage,
.stage h3 {
  font-family: 'Alegreya Sans', sans-serif;
}

.stage {
  @include mixins.set-style("background", "bg-more-subdued");
  padding: 1rem;
  margin: 1rem -1rem;

  h3 {
    font-style: normal;
    margin: 1rem 0;
  }

  .age {
    font-style: italic;
  }

  h3 + .age {
    margin-top: -1rem;
  }
}
