@use "../modules/mixins";
@use "../modules/placeholders";

h1.tag .pre {
  display: block;
  font-family: 'Alegreya', serif;
  font-size: 2rem;
  font-style: italic;
  font-weight: normal;
}

nav.tags {
  p {
    font-family: 'Alegreya SC', serif;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  ul {
    @extend %unstyled-list;
  }

  li {
    display: inline;
    margin-right: 0.5rem;
    padding: 0 1rem 0 0;
  }

  a,
  a:visited {
    @include mixins.set-style("color", "fg-subdued");
    font-family: 'Alegreya SC', serif;
    text-decoration: none;

    &:before {
      content: '#';
    }

    &:hover {
      text-decoration: underline;
    }
  }
}