@use "modules/mixins";
@use "modules/placeholders";

@use "./partials/fonts";
@use "./partials/links";
@use "./partials/images";
@use "./partials/hr";
@use "./partials/figures";
@use "./partials/forms";
@use "./partials/tables";
@use "./partials/breadcrumbs";
@use "./partials/themed-images";
@use "./partials/theme-toggle";
@use "./partials/auth-nav";
@use "./partials/site-nav";
@use "./partials/blog-post-title";
@use "./partials/catalogue-listing";
@use "./partials/byline";
@use "./partials/tags";
@use "./partials/pagination";
@use "./partials/footer";

@use "./partials/card";
@use "./partials/details";
@use "./partials/messages";
@use "./partials/buckets";
@use "./partials/page-hero";
@use "./partials/catalogue-menu";
@use "./partials/span-state";
@use "./partials/api-key";
@use "./partials/slug-field";
@use "./partials/user-picker";
@use "./partials/affinities-aversion";
@use "./partials/stages";
@use "./partials/world-listing";
@use "./partials/character-abilities";
@use "./partials/actions";

html {
  @media (min-width: 60rem) {
    font-size: 1.1rem;
  }

  @media (min-width: 70rem) {
    font-size: 1.2rem;
  }

  @media (min-width: 80rem) {
    font-size: 1.3rem;
  }

  @media (min-width: 90rem) {
    font-size: 1.4rem;
  }

  @media (min-width: 100rem) {
    font-size: 1.5rem;
  }
}

body {
  @extend %layout;
  @include mixins.set-style("background-color", "bg");
  @include mixins.set-style("color", "fg");
  transition: background-color 0.25s ease-in-out;
}
