@use "modules/typography";
@use "modules/layout";
@use "modules/links";

@use "components/home";
@use "components/cta";
@use "components/dragon-bg";
@use "components/logo-hero";
@use "components/features";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}