---
import { getCollection } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro'
import BlogPostListing from '../../components/BlogPostListing.astro'
import getTags from '../../utils/get-tags'
export const prerender = true;

export async function getStaticPaths() {
  const posts = await getCollection('posts')
  const uniqueTags = getTags(posts)
  return uniqueTags.map(tag => {
    const filteredPosts = posts.filter(post => post.data.tags.includes(tag))
    return {
      params: { tag },
      props: { posts: filteredPosts }
    }
  })
}

const { tag } = Astro.params
const { posts } = Astro.props
---
<BaseLayout title={`Posts tagged “${tag}”`}>
  <h1 class="tag">
    <span class="pre">Posts tagged with</span>
    {tag}
  </h1>
  {posts.map(post => <BlogPostListing url={`/posts/${post.slug}`} frontmatter={post.data} />)}
</BaseLayout>
