---
import { getCollection } from 'astro:content'
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPostListing from '../components/BlogPostListing.astro'
const posts = await getCollection('posts')
---

<BaseLayout title="Ruins & Revolutions Blog">
	<h1>The Blog</h1>
	{posts.map(post => <BlogPostListing url={`/posts/${post.slug}`} frontmatter={post.data} />)}
</BaseLayout>
