---
import Layout from '../layouts/Layout.astro'
import Navigation from '../components/Navigation.astro'
import BlogCard from '../components/BlogCard.astro'
import { getCollection } from 'astro:content'
const posts = await getCollection('posts')
---

<Layout title="Blog">
  <Navigation section="blog" />
  <h1>The Blog</h1>
  {posts.map(post => <BlogCard
    url={`/posts/${post.slug}`}
    frontmatter={post.data}
  />)}
</Layout>
