---
import BaseLayout from '../layouts/BaseLayout.astro'
import ThemedImage from '../components/ThemedImage.astro'
import pageBlack from '../assets/page.black.png'
import pageWhite from '../assets/page.white.png'
---

<BaseLayout title="Ruins & Revolutions">
	<p><em>Ruins &amp; Revolutions</em> is a is a tabletop fantasy roleplaying
		game for 3-7 players. The rules fit on the front and back side of a single
	  page of paper, but with just a few rules you&rsquo;ll have everything you
	  need to bring your fantasy world to life and run epic adventures for
		decades to come. Create an ambitious new world or use it as a drop-in
		replacement for your current ruleset in your very next game session (even
		if that&rsquo;s just a few minutes away).</p>
	<p><em>Ruins &amp; Revolutions</em> works on the interaction between two
	  basic but powerful concepts:</p>
	<ul class="buckets">
		<li>
			<strong>Random tables</strong>
			<p><em>(including ability rolls and lore)</em>
				to breathe life and unpredictability into your world.</p>
			<p><a href="/catalogue/tables">Examples of random tables</a></p>
		</li>
		<li>
			<strong>Scrolls &amp; Seals</strong>
			<p>to pace ongoing concerns, from plots to missions to character
				development.</p>
			<p><a href="/catalogue/scrolls">Examples of scrolls</a></p>
		</li>
	</ul>
	<a href="https://jefgodesky.itch.io/ruinsandrevolutions" id="page-hero">
		<ThemedImage light={pageWhite} dark={pageBlack} alt="Buy Ruins & Revolutions on Itch.io" />
		<span>Pay what you want on Itch.io</span>
	</a>
	<h2>The Catalogue</h2>
	<p>To see what such a deceptively simple ruleset is capable of, browse
		<a href="/catalogue">the Catalogue</a>: an open source collection of
	  random tables, scrolls, and fantasy worlds to inspire you with the
	  endless possibilities (or perhaps even make an appearance in your next
	  game). Or consider adding your own contributions to share with others.</p>
	<h2>The Blog</h2>
	<p><a href="/blog">The Blog</a> discusses the design behind
	  <em>Ruins &amp; Revolutions</em> and how to use its simple rules
	  to create exciting adventures that you and your friends will be talking
	  about for years to come.</p>
</BaseLayout>
