---
import Layout from '../layouts/Layout.astro';
import darkDragon from '../assets/dragon.dark.png'
import darkLogo from '../assets/logo.white.png'
import lightDragon from '../assets/dragon.light.png'
import lightLogo from '../assets/logo.black.png'
import ThemedImage from '../components/ThemedImage.astro'
---

<Layout>
	<ThemedImage
		light={lightDragon}
		dark={darkDragon}
		alt=""
		height={3000}
		width={3000}
		classes={["dragon-bg"]}
	/>

	<ThemedImage
		light={lightLogo}
		dark={darkLogo}
		alt="Ruins & Revolutions"
		height={1571}
		width={5770}
		classes={["logo-hero"]}
	/>

	<p><em>Ruins &amp; Revolutions</em> is a simple framework for
	  tabletop roleplaying games (TTRPGs) that puts the emphasis on
		your world, your characters, and your story.</p>
</Layout>
