---
import BaseLayout from '../layouts/BaseLayout.astro'

let message = ''

if (Astro.request.method === 'POST') {
  try {
    const formData = await Astro.request.formData()
    const username = formData.get('username')
    const password = formData.get('password')
    const name = formData.get('name')
    const bio = formData.get('bio')

    try {
      const res = await fetch('https://api.ruinsandrevolutions.com/v1/users', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({username, password, name, bio})
      })

      const data = await res.json()
      const maxAge = 60 * 60 * 24 * 7
      const cookieParams = { httpOnly: true, secure: true, path: '/', maxAge }
      Astro.cookies.set('api_key', data.api_key.value, cookieParams)
      Astro.cookies.set('username', data.username, cookieParams)

      return new Response(null, {
        status: 302,
        headers: {
          Location: `/users/${data.username}`,
        },
      })
    } catch (err) {
      message = 'Sorry, something went wrong. Please try again.'
      console.log(err)
    }
  } catch (err) {
    message = 'Sorry, something went wrong. Please try again.'
    console.error(err)
  }
}
---
<BaseLayout title="Register">
  <h1>Register</h1>
  {message && <aside class="message error">{message}</aside>}
  <form action="/register" method="POST">
    <label for="username">
      Username
      <span class="note">You&rsquo;ll use this to log in.</span>
    </label>
    <input type="text" id="username" name="username" required placeholder="gygax38" />
    <label for="password">
      Password
      <span class="note">Keep this secret, maybe in a password manager.</span>
    </label>
    <input type="password" id="password" name="password" required />
    <label for="name">
      Name
      <span class="note">How you&rsquo;d like to be credited if someone uses
        your work.</span>
    </label>
    <input type="text" id="name" name="name" required placeholder="Gary Gygax" />
    <label for="bio">
      Introduction
      <span class="note">A little bit about you.</span>
    </label>
    <textarea id="bio" name="bio" placeholder="Gary was an American game designer and author best known for co-creating the pioneering tabletop role-playing game Dungeons & Dragons (D&D) with Dave Arneson." />
    <button>Register</button>
    <p><strong>On Cookies:</strong> By registering, you agree to allow this website
      to place cookies on your browser, because that&rsquo;s what logging in
      means. While you might be able to call it &rdquo;tracking&ldquo; that
      we can see the contributions you&rsquo;ve made, there&rsquo;s nothing
      more going on behind the scenes than giving you access so that you can
      add your contributions to the Catalogue. You don&rsquo;t even have to
      take our word for it: you can take a look through our
      <a href="https://github.com/jefgodesky/ruinsandrevolutions-site">source
      code</a>. Your data is never used for any other purpose, and will never
      be sold to anyone.</p>
  </form>
</BaseLayout>