---
import BaseLayout from '../layouts/BaseLayout.astro'
import ProfileForm from '../components/ProfileForm.astro'
import { apiRoot, apiHeaders } from '../data'

let message = ''

if (Astro.request.method === 'POST') {
  try {
    const formData = await Astro.request.formData()
    const username = formData.get('username')
    const password = formData.get('password')
    const name = formData.get('name')
    const email = formData.get('email')
    const bio = formData.get('bio')

    try {
      const createUser = await fetch(`${apiRoot}/users`, {
        method: 'POST',
        headers: apiHeaders,
        body: JSON.stringify({ username, password, name, bio })
      })

      const userData = await createUser.json()
      if (createUser.status !== 200) {
        throw new Error(userData.message)
      }

      const createKey = await fetch(`${apiRoot}/keys`, {
        method: 'POST',
        headers: apiHeaders,
        body: JSON.stringify({ username, password })
      })

      const keyData = await createKey.json()
      if (createKey.status !== 200) {
        throw new Error(keyData.message)
      }

      const createEmail = await fetch(`${apiRoot}/emails`, {
        method: 'POST',
        headers: {
          ...apiHeaders,
          'Authorization': 'Bearer ' + keyData.value,
        },
        body: JSON.stringify({ address: email })
      })

      const emailData = await createEmail.json()
      if (createEmail.status !== 200) {
        throw new Error(emailData.message)
      }

      const maxAge = 60 * 60 * 24 * 7
      const cookieParams = { httpOnly: true, secure: true, path: '/', maxAge }
      Astro.cookies.set('api_key', keyData.value, cookieParams)
      Astro.cookies.set('username', userData.username, cookieParams)

      return new Response(null, {
        status: 302,
        headers: {
          Location: `/dashboard`,
        },
      })
    } catch (err) {
      message = 'Sorry, something went wrong. Please try again.'
      console.log(err)
    }
  } catch (err) {
    message = 'Sorry, something went wrong. Please try again.'
    console.error(err)
  }
}
---
<BaseLayout title="Register">
  <h1>Register</h1>
  {message && <aside class="message error">{message}</aside>}
  <ProfileForm action="/register" />
</BaseLayout>