---
import BaseLayout from '../layouts/BaseLayout.astro'
import { apiHeaders, apiRoot } from '../data'
let message = ''
let error = false

if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData()
  const address = formData.get('email')

  try {
    const res = await fetch(`${apiRoot}/password-reset`, {
      method: 'POST',
      headers: apiHeaders,
      body: JSON.stringify({ address })
    })

    const data = await res.json()
    if (res.status !== 200) {
      message = data.message
      error = true
      throw new Error(data.message)
    }

    message = `<srong>Request received!</strong> If <strong>${address}</strong> is a verified email address, you’ll receive a new, randomly-generated password there shortly.`
  } catch (err) {
    console.error(err)
  }
}

const messageType = error ? 'error' : 'success'
---
<BaseLayout title="Reset Your Password">
  <h1>Reset Your Password</h1>
  {message && <aside class={`message ${messageType}`} set:html={message}></aside>}
  <p>Enter a verified email address associated with your account, and we&rsquo;ll
    generate a new, random password for your account and send it to that
    address.</p>
  <form action="/reset-password" method="POST">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required placeholder="gygax@tsr.com" />
    <button>Reset Password</button>
  </form>
</BaseLayout>
