---
import ThemeToggle from './ThemeToggle.astro'
import getAuth from '../utils/get-auth'
const auth = getAuth(Astro)
const authenticated = auth?.username !== undefined
---
<nav class="auth">
  <ul>
    {!authenticated && <li><a href="/login">Log in</a></li>}
    {!authenticated && <li><a href="/register">Register</a></li>}
    {authenticated && <li><a href="/dashboard">Dashboard</a></li>}
    {authenticated && <li><a href="/logout">Log out</a></li>}
  </ul>
  <ThemeToggle />
</nav>
