---
const { ancestors, current } = Astro.props
---
<nav class="breadcrumbs">
  <ul>
    {ancestors.map((page: { path: string, name: string }) => (
      <li>
        <a href={page.path}>{page.name}</a>
      </li>
    ))}
    <li class="current">{current}</li>
  </ul>
</nav>
