---
import MarkdownContent from './MarkdownContent.astro'
import UserLink from './UserLink.astro'

const { world } = Astro.props
const slug = world.path.substring(8)
---
<article class="world card">
  <header>
    <h3>
      <a href={`/catalogue/worlds/${slug}`}>{world.name}</a>
    </h3>
    <p class="secondary">Created by {world.creators.map(creator => (<UserLink user={creator}></UserLink>))}</p>
  </header>
  <MarkdownContent tag="div" content={world.description}></MarkdownContent>
</article>
