---
import Title from '../components/Title.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="/favicon.svg" rel="icon" media="(prefers-color-scheme: light)" />
		<link href="/favicon.dark.svg" rel="icon" media="(prefers-color-scheme: dark)" />
		<Title />
	</head>
	<body>
		<slot />
	</body>
</html>
